<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xAuthToken</key>
	<string>8bbe4185385c4fe09a593792055d2e3e</string>
	<key>standings</key>
	<string>http://api.football-data.org/v2/competitions/{competitionID}/standings</string>
	<key>teamInfo</key>
	<string>http://api.football-data.org/v2/teams/{teamID}</string>
</dict>
</plist>
